extends ./layouts/default.layout.pug

block body
    h1 Hello world

    +WImage('IMAGES/test_jpeg/test_jpeg.jpeg')

    .bg-test

    h1.text-4xl INLINE SVG
    i(src=require('IMAGES/test_icon.svg?inline'), width="180", height="180", fill="red")
    br

    h1.text-4xl PNG
    img(src=require('IMAGES/test_png.png'), alt="alt", width="180")
    br

    h1.text-4xl SVG
    img(src=require('IMAGES/the_office/test_svg.svg'), alt="alt", width="180")
    br

    h1.text-4xl JPG
    img(src=require('IMAGES/test_jpg.jpg'), alt="alt", width="180")
    br

    h1.text-4xl JPEG
    img(src=require('IMAGES/test_jpeg/test_jpeg.jpeg'), alt="alt", width="180")
    br

    h1.text-4xl WEBP
    img(src=require('IMAGES/test_webp.webp'), alt="alt", width="180")
    br

    h1.text-4xl ICO
    img(src=require('IMAGES/test_ico.ico'), alt="alt", width="180")
    br

    h1.text-4xl GIF
    img(src=require('IMAGES/the_office/test_gif.gif'), alt="alt", width="180")
    br
